body {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

:root {
  --temp-color: #3498db;
  --animation-duration: 1s;
}

.temperature-input-output-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  color: var(--temp-color);
  transition: color var(--animation-duration) ease;
}
